<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ZSMEiE allegro.tech</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/css/dist/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="logo">
            <i class="fa fa-cube"></i>
            ZSMEiE
            <span class="allegro">allegro.tech</span>
        </h1>

        <div class="messages-holder">
            <div class="row">
                <div class="col-xs-12">
                    <div class="message">
                        lorem ipsum
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<html>
