<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ZSMEiE allegro.tech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="../css/dist/styles.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="logo">
                <i class="fa fa-cube"></i>
                ZSMEiE
                <span class="allegro">allegro.tech</span>
            </h1>
            <span class="toEnd"><i class="fa fa-bell-o"></i> 19 min</span>
            <div style="clear:both;"></div>
        </div>
        <div class="messages-holder">
            <div class="row">
                <div class="col-xs-12">
                    <div class="message">
                        <div class="row">

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> I b</h2>
                                <span class="lesson">J. Polski  s.23
                                    <span class="teacher">V. Kalka</span>
                                </span>
                                <span class="lesson next">Matematyka s.80
                                    <span class="teacher">R. Gac</span>
                                </span>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-home"></i> I d</h2>
                                <span class="lesson free">Wolne <i class="fa fa-smile-o"></i>
                            </div>
                                
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> I e</h2>
                                <span class="lesson">Matematyka s.70
                                    <span class="teacher">R. Gac</span>
                                </span>
                                <span class="lesson next">Historia s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> I h</h2>
                                <span class="lesson">PSiO s.80
                                    <span class="teacher">A. Gac</span>
                                </span>
                                <span class="lesson next">Fizyka s.25
                                    <span class="teacher">M. Zawadzki</span>
                                </span>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> I k</h2>
                                <span class="lesson">J. Polski  s.54
                                    <span class="teacher">B. Wróbleska</span>
                                </span>
                                <span class="lesson next">Matematyka s.81
                                    <span class="teacher">A. Weredycki</span>
                                </span>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-home"></i> I t</h2>
                                <span class="lesson free">Wolne <i class="fa fa-smile-o"></i>
                            </div>
                                
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> II b</h2>
                                <span class="lesson">J. Polski  s.23
                                    <span class="teacher">V. Kalka</span>
                                </span>
                                <span class="lesson next">Matematyka s.80
                                    <span class="teacher">R. Gac</span>
                                </span>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> II e</h2>
                                <span class="lesson">Religia s.70
                                    <span class="teacher">R. Gac</span></span>
                                <span class="lesson next">J. angielski s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> II k</h2>
                                <span class="lesson">Biologia  s.54
                                    <span class="teacher">B. Wróbleska</span>
                                </span>
                                <span class="lesson next">Chemia s.81
                                    <span class="teacher">A. Weredycki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> II h</h2>
                                <span class="lesson">PSiO s.80
                                    <span class="teacher">A. Gac</span>
                                </span>
                                <span class="lesson next">Informatyka s.25
                                    <span class="teacher">M. Zawadzki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> II k</h2>
                                <span class="lesson">J. Polski  s.54
                                    <span class="teacher">B. Wróbleska</span>
                                </span>
                                <span class="lesson next">PBSK s.81
                                    <span class="teacher">A. Weredycki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> II e</h2>
                                <span class="lesson">Matematyka s.70
                                    <span class="teacher">R. Gac</span></span>
                                <span class="lesson next">Historia s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> III b</h2>
                                <span class="lesson">Bazy danych  s.54
                                    <span class="teacher">V. Kalka</span>
                                </span>
                                <span class="lesson next">Urządzenia siecowe s.70
                                    <span class="teacher">R. Gac</span>
                                </span>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> III e</h2>
                                <span class="lesson">Matematyka s.70
                                    <span class="teacher">R. Gac</span></span>
                                <span class="lesson next">Aplikacje internetowe s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> III k</h2>
                                <span class="lesson">J. Niemiecki  s.54
                                    <span class="teacher">B. Wróbleska</span>
                                </span>
                                <span class="lesson next">Strony internetowe s.81
                                    <span class="teacher">A. Weredycki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> III h</h2>
                                <span class="lesson">WF s.80
                                    <span class="teacher">A. Gac</span>
                                </span>
                                <span class="lesson next">J. Polski s.25
                                    <span class="teacher">M. Zawadzki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> III k</h2>
                                <span class="lesson free">Wolne <i class="fa fa-smile-o"></i></span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> III e</h2>
                                <span class="lesson">Matematyka s.70
                                    <span class="teacher">R. Gac</span></span>
                                <span class="lesson next">Historia s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> IV b</h2>
                                <span class="lesson">J. Polski  s.23
                                    <span class="teacher">V. Kalka</span>
                                </span>
                                <span class="lesson next">Matematyka s.80
                                    <span class="teacher">R. Gac</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-home"></i> IV d</h2>
                                <span class="lesson">PSiO s.80
                                    <span class="teacher">A. Gac</span>
                                </span>
                                <span class="lesson next">Fizyka s.25
                                    <span class="teacher">M. Zawadzki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> IV e</h2>
                                <span class="lesson">Matematyka s.70
                                    <span class="teacher">R. Gac</span></span>
                                <span class="lesson next">Historia s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> IV h</h2>
                                <span class="lesson free">Wolne <i class="fa fa-smile-o"></i></span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-graduation-cap"></i> IV k</h2>
                                <span class="lesson">J. Polski  s.54
                                    <span class="teacher">B. Wróbleska</span>
                                </span>
                                <span class="lesson next">Matematyka s.81
                                    <span class="teacher">A. Weredycki</span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 current-lesson">
                                <h2 class="header"><i class="fa fa-home"></i> IV t</h2>
                                <span class="lesson ">Matematyka s.70
                                    <span class="teacher">R. Gac</span>
                                </span>
                                <span class="lesson next">Historia s.54
                                    <span class="teacher">B. Lubiszewska</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<html>